.greenwell {
  background-color: #f5fffa;
}

.bluewell {
  background-color: #f5faff;
}

.darkblue {
  background-color: #cedff2;
}

.darkgreen {
  background-color: #cef2e0;
}

img.cheese {
  float:left;
  width: 320px;
  height: 230px;
}

#cheesepic {
  height: 350px
}
